.venv
.venv/**
__pycache__
__pycache__/**
*.pyc
.git
.git/**
.gitignore
.env
.pytest_cache
.ruff_cache
__pycache__
htmlcov
exports/*
!exports/.gitkeep
data/*
!data/.gitkeep
docs
tests
*.md
Makefile
pyproject.toml
docker-compose.yml
.dockerignore
.pre-commit-config.yaml
